.DS_Store
.project

*.pyc
core/config/develop.py

tags
*.tags*
dump.rdb

*.idea*
*.vscode*
.idea/workspace.xml

celerybeat*
/venv/
*/__pycache__/


# git rm -r -f --cached */__pycache__
# git rm -r --cached .idea